@import "tailwindcss";
@config "../tailwind.config.ts";

@theme {
  --color-primary: #E6F13A;
  --color-primary-hover: #d8e32c;
  --color-primary-light: #edf66b;
  --color-primary-dark: #c7d41f;
  --color-accent: #E6F13A;
}

:root {
  --primary: #E6F13A;
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
